@font-face {
  font-family: normal;
  src: url("./assets/fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: light;
  src: url("./assets/fonts/Poppins-Light.ttf");
}

@font-face {
  font-family: semiBold;
  src: url("./assets/fonts/Poppins-SemiBold.ttf");
}

.nav {
  font-family: normal;
  font-size: 14px;
  background-color: transparent;
  color: #000;
  padding: 7px;
  cursor: pointer;
}

.nav:hover {
  background-color: #b3b3b3;
  border-radius: 5px;
}

#content header h1 {
  font-size: 23px;
  margin-bottom: 10px;
  font-family: light;
  color: #000;
}
